/ecbuild/
.cache-main
.cache-tests
.classpath
.project
.settings/
lib/deploy.jar
lib/javaws.jar
installerbuild/
Kojo-z/
project/*
!project/build.properties
!project/plugins.sbt
security/
target/
*.*~
/bin/
.idea/
dist/
Kojo.zip
log
**/.DS_Store
.bsp/
#vs code stuff
.bloop
.metals
.vscode
installer.i4j/Koco_*
installer.i4j/Kojo_*
installer.i4j/TAG
installer.i4j/md5sums
installer.i4j/output.txt
installer.i4j/sha256sums
installer.i4j/updates.xml
